.hide-text {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}
.no-image {
	height: 0;
	margin: 0;
	padding: 0;
}
#pre {
	display: table;
	height: 100%;
	width: 100%;
}
.pre-inner {
	display: table-cell;
	vertical-align: middle;
}
#brand {
	height: 225px;
	background: transparent url(images/ppnr-logo.png) no-repeat center top;
}
.nav-menu {
	font-family: Znikomit, sans-serif;
	text-transform: uppercase;
}
.nav-menu .active:before {
	content: " ";
	float: left;
	width: 20px;
	height: 20px;
	background: transparent url(images/ppnr-icon.png) no-repeat 0px 2px;
	margin-left: -20px;
}
.nav-menu .active {
	font-weight: bold;
}


.container-full {
	width: 100%;
	margin: 0 auto;
}
.container-middle {
	display: table-cell;
	vertical-align: middle;
}
.inner-bg {
	background-color: rgba(0,0,0,0.35);
	min-height: 265px;
}
.section {
	background-size: cover;
	padding: 0;
	height: 960px;
	width: 100%;
	display: table;
}
#s1 {
	background-image: url(images/01.jpg);
}
#s2 {
	background-image: url(images/02.jpg);
}
#s3 {
	background-image: url(images/03.jpg);
}
#s4 {
	background-image: url(images/04.jpg);
}
#s5 {
	background-image: url(images/05.jpg);
}
#s6 {
	background-image: url(images/06.jpg);
}
#s7 {
	background-image: url(images/07.jpg);
}

.section-text {
	column-count: 2;
	-webkit-column-count: 2;
	-moz-column-count: 2;
}
